#site-header {
  .header-top {
    @apply container mx-auto py-4 lg:py-6 xl:pt-11 xl:pb-6;
    @apply transition-all duration-300;
  }
  .site-logo {
    img {
      @apply w-auto h-14 lg:h-16 xl:h-20 transition-all duration-300;
    }
  }
  &.header-shrink {
    /* .header-top {
      @apply xl:py-4;
    }
    .site-logo {
      img {
        @apply xl:h-14;
      }
    } */
  }
}

#mobilemenuToggle {
  @apply w-12 px-3 py-3 relative z-40;
  span {
    @apply block w-full rounded h-[3px] bg-black transition-all duration-300 relative;
    /* display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 8px;
    background: #fff;
    transition: all 0.3s;
    position: relative; */
  }
  span + span {
    @apply mt-[5px];
    /* margin-top: 14px; */
  }

  &.active span:nth-child(1) {
    animation: ease 0.7s top forwards;
  }

  &.not-active span:nth-child(1) {
    animation: ease 0.7s top-2 forwards;
  }

  &.active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
  }

  &.not-active span:nth-child(2) {
    animation: ease 0.7s scaled-2 forwards;
  }

  &.active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
  }

  &.not-active span:nth-child(3) {
    animation: ease 0.7s bottom-2 forwards;
  }
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8px;
    transform: rotate(0);
  }
  100% {
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 8px;
    transform: rotate(45deg);
  }
  50% {
    top: 8px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 8px;
    transform: rotate(0);
  }
  100% {
    bottom: 8px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 8px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 8px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#mobilemenuDrawer {
  @apply fixed w-72 h-screen top-0 right-0 bottom-0 shadow-none bg-white z-30 overflow-hidden translate-x-full transition-all duration-500 ease-in-out;
  &.open {
    @apply translate-x-0 shadow-lg;
  }
}

#mobile-menu {
  > ul {
    @apply flex flex-col text-base divide-y divide-slate-200;
    > li {
      @apply py-3;
      a {
        @apply leading-6;
      }
      &.menu-item-has-children {
        @apply relative transition-all duration-300;
        > a {
          @apply flex justify-between;
        }
      }
      .submenu-toggle {
        svg {
          @apply transition-all duration-300;
        }
        &.open {
          svg {
            @apply rotate-180;
          }
        }
      }
      .sub-menu {
        /* @apply pl-4 pt-0 h-0 opacity-0 transition-all duration-300; */
        @apply pl-4 pt-2;
        @apply hidden flex-col text-base;
        > li {
          @apply py-2;
        }
        &.open {
          @apply h-auto pt-2 opacity-100;
        }
      }
    }
  }
}

#desktop-menu {
  ul {
    > li {
      @apply relative;
      > a {
        @apply block leading-[56px] border-b-4 border-transparent px-1 whitespace-nowrap hover:border-[#01CEC2] hover:text-[#01CEC2] transition-all duration-200;
      }
    }
    .current-menu-item {
      > a {
        @apply text-[#01CEC2] border-[#01CEC2];
      }
    }
    > .menu-item-has-children {
      .sub-menu {
        @apply absolute top-[68px] -z-20 bg-fiap-darkblue flex flex-col divide-y divide-white divide-opacity-20 opacity-0 invisible transition-all duration-300;
        > li {
          > a {
            @apply block leading-[48px] px-6 whitespace-nowrap hover:text-[#01CEC2] transition-all duration-200;
          }
        }
      }
      &:hover {
        > .sub-menu {
          @apply opacity-100 visible z-20 top-[60px];
        }
      }
    }
  }
}

.slider--button-prev,
.slider--button-next,
.casestudy-filter--button-prev,
.casestudy-filter--button-next,
.news-filter--button-prev,
.news-filter--button-next,
.fiapmembers-filter--button-prev,
.fiapmembers-filter--button-next,
.button-prev,
.button-next {
  &.swiper-button-lock {
    @apply hidden;
  }
  &.swiper-button-disabled {
    @apply opacity-30;
    @apply hover:bg-white hover:text-gray-500;
  }
}

.help-links {
  > div {
    @apply lg:pl-10;
    &:first-child {
      @apply lg:pl-0;
    }
  }
  .help-links--description {
    a {
      @apply underline text-fiap-teal hover:text-fiap-teal-hover whitespace-nowrap;
    }
  }
}

.accordion {
  .accordion-item {
    &:not(:first-of-type) {
      @apply border border-gray-300 border-solid;
    }
  }
  .accordion-header {
    margin-bottom: 0px !important;
  }
  .accordion-button {
    &::after {
      display: none;
      margin-top: 3px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f1694c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    &:not(.collapsed) {
      @apply text-black;
      box-shadow: inset 0 -1px 0 #d1d5db;
      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f1694c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      }
      .collapsed-arrow {
        @apply hidden;
      }
      .not-collapsed-arrow {
        @apply block;
      }
    }
    &.collapsed {
      .collapsed-arrow {
        @apply block;
      }
      .not-collapsed-arrow {
        @apply hidden;
      }
    }
  }
  .accordion-body {
    @apply text-black;
  }
}

.modal-dialog {
  @apply max-w-4xl px-0;
}

.card-hover {
  .card-image {
    @apply h-full w-full object-cover absolute inset-0;
  }
  .card-text {
    @apply transition-all duration-300 bg-fiap-darkblue bg-opacity-80 p-4 h-full w-full text-white relative translate-y-3/4 xl:p-6;
  }
  .card-title {
    @apply text-lg text-white md:text-xl lg:text-lg xl:text-xl font-semibold line-clamp-2 leading-snug md:leading-snug lg:leading-snug xl:leading-snug;
  }
  .card-excerpt {
    @apply mt-10 opacity-0 transition duration-300 text-sm xl:text-base;
  }
  &:hover {
    .card-text {
      @apply pt-8 translate-y-0 xl:pt-16;
    }
    .card-excerpt {
      @apply opacity-100 mt-8;
    }
  }
}

.card-fiap-member {
  &:hover {
    .card-text {
      @apply pt-8 top-0;
    }
    .card-excerpt {
      @apply opacity-100 mt-6;
    }
  }
}

.card-shortcut {
  &:hover {
    > img {
      @apply scale-105;
    }
  }
}

.filter-news,
.filter-case-study,
.filter-fiapmembers {
  &.filter-active {
    @apply bg-fiap-teal text-white border-fiap-teal;
  }
}

.fiapmembers-grid {
  .card-hover {
    @apply bg-white;
    .card-image {
      @apply object-contain;
    }
  }
}

.single-fiap_members {
  .wp-post-image {
    @apply object-contain aspect-square border border-solid border-slate-200;
  }
}

.breadcrumbs {
  a {
    @apply hover:underline;
  }
}
